<div id="popup-wrapper-{{ orderId }}" class="popup-wrapper">
    <div class="popup">
        <div id="popup-close-{{ orderId }}" class="popup-close">x</div>
        <div class="popup-content">
            <h3>Order {{ orderId }}</h3>
            {% block popup_content %}{% endblock %}
        </div>
    </div>
</div>