{% extends 'datatable_layout.html.twig' %}

{% block title %}List orders{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('/assets/css/popup.css') }}">
{% endblock %}

{% block body %}
    <div>
        <a href="{{ buttonTopHref }}">
            <button>{{ buttonTopText }}</button>
        </a>
    </div>
    {% if orders is not empty %}
        {% embed 'order/table.html.twig' with {'tableId': 'orders', 'showActions': true} %}
            {% block tbody %}
                {% for order in orders %}
                    {% include 'order/order_row.html.twig' %}
                {% endfor %}
            {% endblock %}
        {% endembed %}

        {% for order in orders %}
            {% embed 'popup/popup_wrapper.html.twig' with {'orderId': order.id} %}
                {% block popup_content %}
                    {% embed 'order/table.html.twig' with {'tableId': 'order-'~order.id} %}
                        {% block tbody %}
                            {% include 'order/order_row.html.twig' %}
                        {% endblock %}
                    {% endembed %}
                {% endblock %}
            {% endembed %}
        {% endfor %}
    {% else %}
        <div>No result found</div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('/assets/js/popup.js') }}"></script>
    <script>
        $(document).ready(function() {
            let datatable = $('#orders').DataTable();
            datatable.columns([4, 6]).flatten().each(function (colIdx) {
                let select = $('<select />')
                    .appendTo(
                        datatable.column(colIdx).header()
                    )
                    .on('change', function () {
                        datatable
                            .column(colIdx)
                            .search($(this).val())
                            .draw();
                    });

                select.append($('<option value="">---</option>'));

                datatable
                    .column(colIdx)
                    .cache('search')
                    .sort()
                    .unique()
                    .each(function (d) {
                        select.append($('<option value="' + d + '">' + d + '</option>'));
                    });
            });

            setInterval(checkNewOrders, 5000);
        });

        function checkNewOrders()
        {
            $.post( "{{ path('order_check_news') }}", {
                'lastCheck': '{{ lastCheck }}'
            }, function(response) {
                if (response.has_new_orders == true) {
                    location.reload();
                }
            });
        }
    </script>
{% endblock %}
