<tr>
    <td>{{ order.id }}</td>
    <td>{{ order.dateAdd | date('d-m-Y H:i:s') }}</td>
    <td>{{ order.deliveryAddress.fullName }}</td>
    <td>{{ order.deliveryAddress.fullAddress }}</td>
    <td>{{ order.deliveryAddress.country.countryLanguages.first.name }}</td>
    <td>
        <ul>
            {% for cartProduct in order.cart.cartProducts %}
                <li>{{ cartProduct.product.productLanguages.first.name }} X {{ cartProduct.quantity }}</li>
            {% endfor %}
        </ul>
    </td>
    <td>{{ order.state.orderStateLanguages.first.name }}</td>
    {% if showActions is defined %}
    <td>
        <a href="#" class="button-show" data-orderId="{{ order.id }}">Show</a>
        <hr>
        <a href="{{ path('order_show', {'orderId': order.id}) }}">Show from API</a>
    </td>
    <td>
        <a href="{{ path('order_edit_state', {'orderId': order.id}) }}">Edit status</a>
        <hr>
        <a href="{{ path('order_cancel', {'orderId': order.id}) }}">Set as canceled</a>
    </td>
    {% endif %}
</tr>