{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    <div>
        <a href="{{ path('order_list') }}">
            <button>Show all orders</button>
        </a>
    </div>
    {% if json_format is defined %}
        <div>Order {{ orderId }} as JSON format:</div>
        <div>{{ json_format }}</div>
    {% endif %}
{% endblock %}