<table id="{{ tableId }}" class="table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
        <th>ID order</th>
        <th>Date</th>
        <th>Name</th>
        <th>Address</th>
        <th>Country</th>
        <th>Products</th>
        <th>State</th>
        {% if showActions is defined %}
        <th>Show</th>
        <th>Edit status</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% block tbody %}{% endblock %}
    </tbody>
</table>